.phone {
  font-family: "Verdana";
  font-size: 18px;
  align: right;
}

.phone a {
  color: #000;
}

.call a {
  border-radius: 25px;
}
.second {
  font-family: "Times New Roman";
  background-color: #3a5896;
  color: #fff;
  position: relative;
  z-index: 100;
}
.second h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 25px;
}
.second p {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 25px;
}
.first {
  padding: 15px;
}

.figura {
  position: absolute;
  bottom: -31px;
  left: calc(50% - 31px);
  width: 61px;
  height: 31px;
  /* border-style: solid;
  border-width: 31px 30.5px 0 30.5px;
  border-color: #3a5996 transparent transparent transparent; */
  z-index: 300;
}
.banner {
  height: 430px;
  /* после установки карусели удалить фиксированную высоту блока */
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.banner .item1 {
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.banner .item2 {
  position: absolute;
  bottom: -175px;
  right: 3%;
}
