/* общие настройки страницы */


body,
*{
  font-family: "Times New Roman";
  font-size: 20px;  
}
/* первый блок----------------------------------------------------- */
.first {
  padding: 15px;
}

.phone {
  font-family: "Verdana";
  font-size: 18px;
  align: right;
}

.phone a {
  color: #000;
}

.call a {
  border-radius: 25px;
}
/* второй блок----------------------------------- */
.second {
  font-family: "Times New Roman";
  color: #fff;
  background-color: #3a5896;
  /* z-index: 250; */
  position: relative;
}

.second h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 25px;
}

.second p {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 25px;
}

.figura {
  position: absolute;
  /* outline: 1px solid red; */
  bottom: -30px;
  left: calc(50% - 31px);
  width: 61px;
  height: 31px;
  z-index: 1300;
  border-style: solid;
  border-width: 31px 30.5px 0 30.5px;
  border-color: #3a5996 transparent transparent transparent;
  /* background-image: url("../img/figura.png"); */
}
/* третий блок--------------------------------------------- */
.baner {
  /* outline: 1px solid red; */
  height: 430px;
  /* после установки карусели удалить фиксированную высоту блока */
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 150; */
  position: relative;
}

.baner .item1 {
  position: absolute;
  bottom: 0;
  left: 5%;
  /* z-index: 1000; */
}

.baner .item2 {
  position: absolute;
  bottom: -165px;
  right: 2%;
}

.carousel{
  height:400px;
  width: 70%;
  font-weight: bold;
  font-style: italic;
}
.carousel-item{
  text-align: center;
  margin-top: 120px;
}
.carousel-indicators li{
background-color: #555;
}

.carousel .fas{
color: #555;
}
.carousel a{
  border-radius: 25px;
}
/* pig блок--------------------------------------------------- */
.itemR{
  margin-top: 120px;
  border: 10px solid #2E5480;
  text-align: center;
}

.itemR h2{
  font-size: 22px;
  font-weight: bold;
  padding: 50px 80px 20px 80px;
}

.itemR .podZ{
font-size: 16px;
font-style: italic;
font-weight: bold;
}

.itemR form .btn{
border-radius: 25px;
}

.itemR form .btn, .telPig{
  border-radius: 28px;
  height: 56px;
}

.telPig{
  margin: 30px auto 15px auto;
  text-align: center;
  border-style: solid;
  border-color: #ccc;
}
.itemR form .btn{
  margin-bottom: 30px;
}

.telPig:focus{
  outline: none;
  border-color: #dc3545;
}

.itemR .check{
margin-top: 30px;
}

.itemL{
text-align: left;
}

.itemL h2{
font-size: 2em;
margin: 150px 5% 100px 0;
font-weight: bold;
text-transform: uppercase;
}

.itemL .paragraf {
  font-style: italic;
  width: 320px;
  position: relative;
}

.itemL .paragraf img{
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 0;
}
.itemL .paragraf p{ 
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.pig{
  position: relative;
}

.Pigimg{
  position: absolute;
  bottom: -150px;
  left: 50%;
  width: 200px;
  transform: translateX(-55%);
  z-index: 1000;
}

/* ---------------------------------------pluses */
.pluses{
background-color: #f5f5f5;
text-align: center;
}

.pluses h2{
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  text-transform: uppercase;
}
.pluses .container p{
  font-size: 30px;
  font-style: italic;
  color: #3A5896;
  font-weight: bold;
}

.pluses .container .row p{
font-size:18px;
color:black;
font-weight: normal;
}